.sorting tr:not(.home) {
  cursor: pointer;
}

.ui-state-highlight {
  border: 1px dashed #ccc;
}

#imgPreview {
  margin: 20px;
}

#noimage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

table.align-middle td{
  vertical-align: middle !important;
}
